[submodule "be-nodeJs"]
	path = be-nodeJs
	url = ../be-nodeJs.git
	branch = main
[submodule "fe-react"]
	path = fe-react
	url = ../fe-react.git
	branch = main
[submodule "be-Django"]
	path = be-Django
	url = ../be-Django.git
	branch = main
